<!DOCTYPE html>
<html>
  <head>
    <title>Kabirpathak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <!-- Image and text -->
  <nav class="navbar navbar-light navbar-custom bg-primary">
    <a class="navbar-brand" href="/blogs">
      <div width="30" height="30" class="px-2 d-inline-block align-top text-white" alt="">
      Kabir Pathak
      </div>
    </a>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
